

body {
  background-color: #aeb665;
  font-family: 'PlayFair Display', serif;
  text-align: center;
}

h1 {
  font-family: 'PlayFair Display', serif;
  font-size: 4rem;
  font-weight: 700;
}

h2 {
  color: #140743;
  font-family: 'PlayFair Display';
  font-size: 1.8rem;
}

img {
  width: auto;
  max-width: 325px;
  box-shadow: 0 0 30px#F2DDA4;
  height: 200px;
  border: 1px solid #626261;
}
li > img {
  width: auto;
  height: 30px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

.cards section {
  background: #e4d487;
  border: 0.70em solid #f9faf7;
  margin: 10px;
  padding: 10px;
  text-align: center;

}

footer {
  background-color: #e2e5b9;
  margin: 1em;
  padding: 2em;
}