

body {
  background-color: #aeb665;
  font-family: 'PlayFair Display', serif;
  text-align: center;
}

h1 {
  font-family: 'PlayFair Display', serif;
  font-size: 3rem;

}

h2 {
  color: #140743;
  font-family: 'PlayFair Display';
  font-size: 1.8rem;
}

img {
  width: auto;
  box-shadow: 0 0 30px#F2DDA4;
  height: 300px;
  border: 1px solid #626261;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  text-align: center;
  gap: 1rem;
  margin: 2rem;
}

 section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #e4d487;
  border: 0.70em solid #f9faf7;
  padding: 0.5rem 2rem 2rem 2rem;
}

footer {
  background-color: #e2e5b9;
  margin: 1em;
  padding: 2em;
}
