*{
    font-family: PlayFair Display;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}



body {
    font-family: PlayFair Display;
    font-size: 15px;
    background-color: white;
}

header {
    padding: 0.9rem 1%;
    background-color: rgb(8, 64, 99);
}

header h1 {
    margin: 0;
    margin-top: 5%;
    text-align: center;
    color: white;
    
}

header h2 {
    margin: 0;
    margin-top: 5%;
    font-size: 20px;
    text-align: center;
    color: white;
}

main {
    display: block;
    padding: 1rem 1%;
    margin: 2%;
}

main img {
    max-width: 96%;
    margin: 2%;
    border: 1px solid rgb(246, 245, 245);
    border-radius: 5px;

}

.prin {
    border-radius: 10px 10px 0 0;
}

.com {
    font-size: 16px;
}

.home-grid div {
    border: 1px solid rgb(220, 229, 254);
    margin: 3%;
    border-radius: 1.5rem;
    background-color: rgba(5, 85, 89, 0.185);
}

.home-grid a{
    display: block;
    text-align: center;
    margin: 3%;
}

.home-grid p {
    margin: 5%;
    
}
.home-grid {
    display: grid;
    grid-template-rows: auto auto auto;
}

.home-grid h2, .home-grid h3 {
    background-color: rgb(8, 64, 99);
    color: white;
    margin: 0;
    padding: 2%;
    text-align: center;
   
}

footer {
    background-color: rgb(8, 64, 99);
    color: white;
    padding: 0.5%;
}

footer p {
    font-family: PlayFair Display;
    text-align: center;
    font-size: 13px;
}

