/*** Home Page ***/
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");

* {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


/*** Palette ***/
:root {
    --background-color: #F5F5F5;
    --primary-color: #463440;
    --secondary-color: #405B63;
    --accent-color: #D1F0DA;
    --accent-color-2: #E6F0D1;

    /*** Font ***/
    --heading-font: 'Playfair Display', Helvetica, sans-serif;
    --text-font: 'Roboto', sans-serif;
}


/*** H/UL Columns ***/
h1,
h2,
h3 {
    font-family: 'Playfair Display', Helvetica, sans-serif;
    font-size: 50%;
}

ul li {
    font-family: 'Roboto', sans-serif;
    color: var(--primary-color);
}


/*** Header ***/
.join-us {
    color: var(--background-color);
    font-size: 1.4rem;
    text-align: center;
    padding: 1px;
    margin: 0 1rem;
    border-top: 2px solid var(--primary-color);
    border-left: 2px solid var(--primary-color);
    border-bottom: 1px solid var(--background-color);
    border-right: 1px solid var(--background-color);
    background-color: var(--primary-color);
}

header {
    font-family: 'Playfair Display';
    color: var(--primary-color);
    background-color: var(--accent-color-2);
    padding: 1rem 0;
}

.head-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em;
    flex-direction: row;
}

.head-content .logo-content {
    align-items: center;
    display: flex;
}

.logo-content img {
    width: 20%;
}

#head-h {

    justify-content: flex-start;
    display: flex;
    margin-left: 0.5rem;
    flex-direction: column;
}

#head-h h1 {
    font-size: 1.5rem;
    margin: 0;
}

#head-h h2 {
    font-size: 1.2rem;
    margin: 0;
}


/*** Head Arrangement ***/



/*** Nav ***/
.nav-m {
    padding-left: 1rem;
}

nav {
    margin-right: 1.6rem;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    padding: .8rem 2vw;
    font-size: 1.3rem;
    text-decoration: none;
    color: var(--primary-color);
}

nav ul li.active a {
    background-color: var(--primary-color);
    color: var(--accent-color);
}

nav ul li a:hover {
    background-color: var(--primary-color);
    color: var(--accent-color);
}

nav ul {
    display: none;
}

nav ul.open {
    display: block;
    text-align: left;
}

#hamburgerBtn {
    background-color: var(--primary-color);
    border: 2px solid var(--accent-color);
    color: var(--accent-color);
    font-size: 1.5rem;
    padding: 0.5em;
}

#hamburgerBtn span:nth-child(1) {
    display: block;
}

#hamburgerBtn span:nth-child(2) {
    display: none;
}

#hamburgerBtn.open span:nth-child(1) {
    display: none;
}

#hamburgerBtn.open span:nth-child(2) {
    display: block;
}


/*** Socials ***/
.socials {
    padding-right: 2rem;
    justify-content: end;
}

.socials img {
    width: 50px;
    align-items: flex-start;

}

.socials a:hover {
    border-bottom: none;
}

.date {
    background-color: var(--primary-color);
    color: var(--background-color);
    display: block;
    text-align: center;
    padding: 1px;
    margin: 0 1rem;
}



body {
    font-family: var(--text-font);
    position: relative;
}

p,
li {
    color: var(--background-color);
    font-family: var(--text-font);
    line-height: 1.4;
}


/*** Home Main ***/
.home {
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 5px;
    padding: 2em;
}

.home p {
    color: var(--background-color);
}

.home h2 {
    color: var(--background-color);
    font-size: 1.2rem;
    margin: 0;
}

.home img,
.hero img {
    width: 100%;
    height: auto;
}

.event,
.weather,
.news,
.join,
.container-spot {
    border: 1px solid var(--background-color);
    background-color: var(--primary-color);
    text-align: center;
    padding-top: .4em;
    font-size: 1.1rem;
}

.hero {
    position: relative;
}

.welcome {
    color: var(--primary-color);
    text-shadow: 1px 1px var(--background-color);
    position: absolute;
    top: 3.2rem;
    left: 2.2rem;
    font-size: 1.8rem;
}

.join-kcc {
    position: absolute;
    bottom: 1em;
    right: 3.9em;
    font-size: 1.3rem;
    padding-top: .2rem;
    border-radius: 12px;
    border-color: var(--primary-color);
    opacity: 7.8;
    transition: 0.3s;
}

.join-kcc:hover {
    opacity: 0.8;
    background-color: var(--secondary-color);
    color: var(--background-color);
}

.join-chamber {
    border-radius: 12px;
    border-color: var(--primary-color);

    position: relative
}

.join p {
    padding: 60px;
}

.hero h2 {
    position: relative;
    padding-top: 12px;
    font-size: 10px;
    padding-left: 12px;
}

.hero p {
    padding-left: 12px;
}


.news {
    position: relative;
    height: 102.5%;
}

.container-spot div {
    border: 1px solid var(--background-color);
    color: #F5F5F5;
    column-gap: 6px;
}

.container-spot {
    display: grid;
    padding: 0.5rem;
}

.container-spot img {
    padding-top: 20px;
    padding-left: 5px;
    justify-content: center;
    width: 120px;
}
.container-spot p, h3 {
    font-size: 1.2rem;
    padding-bottom: 10px;
}
.spot-1, .spot-2 {
        padding-top: 3px;
}


/*** Discover Page ***/
.discover {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.discover div {
    margin: 0 auto;
}

.discover-container section {
    background-color: var(--primary-color);
    margin-bottom: 1em;
    margin-top: 1em;
    padding: 1em;
}

.discover h1 {
    margin-top: 20px;
    font-size: 1.5rem;
    color: var(--primary-color);
}

.discover h2 {
    padding: 1rem;
    text-align: center;
    color: #F5F5F5;
    font-size: 1.8rem;
    font-family: 'Playfair Display';
}


.dayBefore h2 {
    background-color: var(--primary-color);
    font-size: 1.8rem;
    font-weight: bolder;
    color: var(--background-color);
    margin-bottom: 12px;
}

.discover p {
    color: rgb(255, 255, 255);
    font-size: smaller;
}

/*** Join Page ***/
.join-container {
    
    display: flex;
    justify-content: center;
    column-gap: 5px;
    color: #F5F5F5;
    padding: 3rem;
    width: 98%;
}

.join-container div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;

}
.join-container h2 {
    color: #F5F5F5;
    font-size: 1.5rem;
    font-family: 'Playfair Display';
}


.membership {
    border-radius: 12px;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    text-align: center;
    

}

.membership ul li {
    list-style-type: none;
    margin-top: 10px;
    text-align: left;
}


#joinUs {
    background-color: var(--primary-color);
    align-self: center;
    padding: 2em;
    text-align: left;
    border-radius: 12px;
}

input,
select,
textArea {
    background-color: var(--accent-color-2);
    border-radius: 6px;
    border: 0;
    box-sizing: border-box;
    color: var(--primary-color);
    font-size: 18px;
    padding: 10px 20px;
    width: 100%;
}

label,
small {
    color: var(--background-color);
}

.submit {
    background-color: var(--accent-color-2);
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: var(--primary-color);
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 38px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}


/*** Thank You Page ***/
.thankyou-container {
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 60vh;
    margin: 20px;
}

.thankyou h2,
p {
    color: var(--background-color);
    font-size: 1.5rem;
}



/*** Weather Page ***/

/*** Directory Page ***/
.directory {
     display: flex;
    flex-direction: column;
    justify-content: center; 
    text-align: center;
}

.directory h2 {
    font-size: 1.2rem;
    color: var(--primary-color);
}
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    align-items: center;
    gap: 1rem;
    margin: 2rem 0;
}

.grid img {
    width: auto;
    height: 50px;
    background-color: none;
}

.grid section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--accent-color);
    border: 1px solid var(--primary-color);
    padding: 1rem;
    font-size: 1rem;
}

.grid h2 {
    text-align: center;
    font-size: 1.2rem;
}

.list {
    display: flex;
    flex-direction: column;
}

.list section {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 25rem;
}

.list section h2 {
    display: contents;
}
.list section img {
	display: none;
} 

.list section:nth-child(even) {
  background-color: var(--secondary-color);
  color: var(--background-color);
}


.list section {
    background: var(--accent-color-2);
    border: 0.15em solid var(--primary-color);
    margin: 10px;
    padding: 10px;
    text-align: center;
    justify-items: center;
    color: #F5F5F5;
} 

.grid section p,
.list section p {
   color: var(--primary-color);
   font-size: 1.5rem;
} 

.grid section a,
.list section a {
    text-decoration: underline;
}


.menu {
    margin: 1rem auto;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--primary-color);
    padding: 0.5rem ;
    text-align: center;
  


    /* margin: 1rem auto;
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 0.5rem;
	background-color: #bbb;
	text-align: center; */
}

.menu p {
    color: var(--background-color);
   
}

.menu button {
    margin: 0 10px;
    padding: 1em 3em;
}

.menu div {
    display: flex;
}


/*** Weather ***/
.weather h2 {
    padding-top: 30px;
    text-align: center;
    margin-bottom: 40px;

}

.weather-div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: none;
    font-size: 2rem;
    font-weight: bold;
}

.degree-s {
    margin-right: 30px;
}

.box-center p {

    padding-top: 30px;
    text-align: center;
    font-size: 1.1rem;
    font-weight: bold;
}

.box-bottom {
    border: none;
    border-top: 2px solid #F5F5F5;
}

.weather p {
    margin: 0;
}

.weather img {
    width: 50%;
    padding-left: 20px;

}

.joinBox {
    margin: 0 0.5rem;
}


/*** Footer ***/
footer {
    background-color: var(--accent-color-2);
    text-align: center;
    padding: 1rem 0;
}

.main-footer {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.footer-details {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.footer-details div {
    display: flex;
    flex-direction: column;
}

.footer-details h3 {
    text-align: center;
    font-size: medium;
    color: var(--primary-color);
}

footer p {
    margin: 0;
    font-size: 1.2rem;
    text-align: center;
    color: var(--primary-color);
}

footer a {
    color: var(--primary-color);
    text-decoration: none;
}
footer a:hover{
    text-decoration: underline;
}

.footer-details img {
    width: 120px;

}

.footer-details2 {
    border-top: 1px solid var(--secondary-color);
    margin-top: 1em;
    background-color: var(--primary-color);
    color: var(--background-color);
}