@media only screen and (min-width: 35.5rem) {
    .logo-content img {
        width: 60px;
    }

    .head-h h1 {
        font-size: 2rem;
    }

    .head-h h2 {
        font-size: 1.5rem;
    }

    #nav-info {
        top: auto;
        right: 0;
    }

    #socials {
        margin: 0 3em;
    }

    #socials a {
        padding: 0 0.3em;
    }


    /*** Home Main ***/
    .home {
        grid-template-columns: 23% 25% 25% 25%;
    }

    .hero {
        grid-column: 1 / -1;
        grid-row: 1;
    }

    .event {
        grid-column: 1 / 4;
        grid-row: 5;
    }

    .news {
        grid-column: 1 / -1;
        grid-row: 2;
    }

    .weather {
        grid-column: 4 / 5;
        grid-row: 5;
    }


    .container-spot {
        grid-auto-flow: column;
        grid-column: 1 / 5;
        grid-row: 3;
    }

    .join {
        grid-column: 1 / -1;
        grid-row: 4;
        display: block;
    }

    .spot-3 {
        display: none;
    }

    .discover-container section:hover {
        box-shadow: 0 0 50px var(--primary-color);
    }

    .discover-container {
        width: 50%;
    }

    #joinUs {
        width: 100%;
        justify-content: center;
      }

    /** Weather **/
    .cloud {
        margin: 0;
    }
    .wind {
        margin: 5px;
    }
    /** Footer **/
    .main-footer {
        flex-direction: row;
    }

    .footer-details {
        flex-direction: row;
    }

    .footer-details h3 {
        text-align: left;
    }

    .footer-details p {
        text-align: left;
    }

    .footer-details2 {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .footer-details2 p {
        border-right: 2px solid var(--secondary-color);
        padding: 0 1em;
    }

    #date {
        border: none;
    }
}