body {
    font-family: 'PlayFair Display';
    background-color: white;
    display: block;
    margin: 10px auto;
    max-width: 60%;
    max-height: 60%;
}

header {
    display: flex;
}

h1 {
    padding: 20px;
    font-size: 2.0rem;
}


.latter {
    font-size: medium;
}
img {
    padding: 0px;
    width: 10%;
    border-radius: 5px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 15px 0 rgba(0, 0, 0, 0.19);
}

.shadow {
    border-radius: 1.5rem;
    background-color: #FFDF6C;
    box-shadow: -1px -1px 30px 20px rgba(63, 65, 63, 0.5);
    padding: 15px;
    border-radius: 1.5rem;
    margin: auto;
    align-items: center;
    min-height: 100px;
}

footer p{
    display: block;
    justify-content: center;
    text-align: center;
}